.container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    justify-content: flex-start;
    align-content: flex-start;
}

.controlBlock {
    display: flex;
    /*flex-wrap: wrap;*/
    gap: 16px;
    width: 100%;
}

.buttonsBlock {
    background-color: #e1e1e1; /* светлый серый фон */
    color: #1f1f1f; /* текст тёмный */
    border-radius: 12px;
    padding: 30px 16px;
    min-width: 220px;
    flex: 1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* лёгкая тень */
    /*transition: transform 0.15s ease, box-shadow 0.15s ease;*/
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}


.btn {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    color: #ffffff;
    width: auto;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
    text-align: center;
}
.icon {
    width: 20px;
    height: 20px;
    margin: 0 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.type1 {
    background-color: #629129;
    .icon {
        background-image: url("../assets/icons/add.png");
    }
}
.type1:hover {
    background-color: #778f5a;
}
.type2 {
    background-color: #c8792a;
    .icon {
        background-image: url("../assets/icons/minus.png");
    }
}
.type2:hover {
    background-color: #c59565;
}

.type3 {
    background-color: #704c28;
    .icon {
        background-image: url("../assets/icons/update.png");
    }
}
.type3:hover {
    background-color: #8e6f50;
}
.type4 {
    background-color: #556e61;
    .icon {
        background-image: url("../assets/icons/save.png");
    }
}
.type4:hover {
    background-color: #819f90;
}

.tableWrapper {
    border-radius: 12px;
    border: 1px solid #ccc;
    flex-grow: 1;
    overflow-x: auto; /* ✅ чтобы при переполнении появлялся горизонтальный скролл */
    display: block; /* ✅ не flex, иначе таблица не будет сжиматься естественно */
    max-width: 100%; /* ✅ ограничиваем ширину */
}

.table {
    width: 100%; /* ✅ заставляем таблицу подстраиваться под контейнер */
    border-collapse: collapse;
    font-family: sans-serif;
    text-align: center;
    table-layout: auto; /* можно auto или fixed, в зависимости от желаемого поведения */
}

.table th {
    background-color: #222;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #444;
    word-wrap: break-word; /* Перенос слов */
    word-break: break-word;
    white-space: normal;
    min-width: 80px;
}

.table td {
    border: 1px solid #ccc;
    /*max-width: 60px;*/
    min-width: 30px;
    word-wrap: break-word; /* Перенос слов */
    word-break: break-word;
    white-space: normal;
    /*min-width: 80px;*/
    overflow-x: hidden;
}

.stepCell {
    background-color: #dfdfdf;
    font-weight: 600;
    color: #333;
}

.input {
    width: 100%;
    height: 25px;
    border: none;
    text-align: right;
    padding: 5px 10px 5px 5px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

.input:focus {
    background-color: #e8f0fe;
}


/* Адаптив */
@media (max-width: 900px) {
    .controlBlock {
        flex-direction: column;
        max-width: 500px;
    }

    .container {
        justify-content: center;
    }
}