body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: #f9fafb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
    display: flex;
}
.items-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.text-white {
    color: white;
}
.font-bold {
    font-weight: bold;
}
.font-semibold {
    font-weight: 600;
}
header {
    /*padding: 20px;*/
    background-color: white;
    margin-bottom: 30px;
    border-bottom: 1px solid lightgray;
    div.card {
        border: none !important;
        padding: 0;
    }
}

.header-top {
    padding: 20px 20px 10px 20px;
}
.user-info {
    color: #8a8a8a;
    justify-content: flex-end;
    margin-bottom: 10px;
    padding-right: 20px;
    .user-stat {
        color: black;
    }
}
.header-bottom {
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;

    .card-content {
        display: flex;
        justify-content: flex-end;
        padding-right: 18px;
    }
    button {
        width: auto;
        min-width: 180px;
        svg {
            margin-right: 6px;
        }
    }
}

.logo1 {
    width: 40px;
    height: 40px;
    background-color: #62bc47;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 30px;
}

.logo-txt {
    color: #295a1b;
}

.bg-card {}
.text-card-foreground {

}
.flex-col {
    flex-direction: column;
}
.gap-6 {

}
.rounded-xl {

}
.border {
    border: 1px solid lightgray;
    border-radius: 10px;
}
.control-block {
    padding: 20px;
    display: flex;
    gap: 15px;
    align-items: stretch;
    /*justify-content: space-around;*/
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 250px;
    max-width: calc(100%/3 - 60px);
    padding: 20px;
    h4 {
        margin-top: 0;
        font-size: 18px;
    }
    label {
        margin-bottom: 8px;
    }
}

button {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    height: 38px;
    font-size: 14px;
    width: auto;
    min-width: 70px;
}

.card-input {
    font-size: 18px;
    padding: 4px 8px;
    margin-bottom: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
    height: 38px;
}

.user-stat {
    margin-right: 8px;
}

.account-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}