body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: #f9fafb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.list {
    background: url("./assets/icons/list.png") no-repeat center center / contain;
}
.userSetting {
    background: url("./assets/icons/user-setting.png") no-repeat center center / contain;
}

.home {
    background: url("./assets/icons/home.png") no-repeat center center / contain;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Убираем стрелочки в Firefox */
input[type=number] {
    -moz-appearance: textfield;
}